/* 
	Melon.css: https://github.com/sammwyy/meloncss
	2019 (C) Sammwy | Licence: MIT & Open-Source
*/

/* Forms */
input, button, select, optgroup, textarea {
	margin: 0;
	font-family: inherit;
}

button, input {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}

/* Buttons */
button {
	display: inline-block;
	color: #555;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 1rem 1.75rem;
	border-radius: 0.1875rem;
	margin-bottom: 15px !important;
	white-space: nowrap;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	font-size: 0.875rem;
	line-height: 1;
	font-weight: 400;
}

button.active.focus, button.active:focus, button.focus, button:active.focus, button:active:focus, button:focus, button, button:active, button:checked, button:focus, button:hover, button:visited {
    outline: 0;
    outline-offset: 0;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

button:hover {
    text-decoration: none;
    color: black;
}

.btn-primary {
	background-color: #464DEE;
	color: white;
}

.btn-primary:hover {
	background-color: transparent;
	color: #464DEE;
	border-color: #464DEE;
}

.btn-secondary {
	background-color: #3b579d;
	color: white;
}

.btn-secondary:hover {
	background-color: transparent;
	color: #3b579d;
	border-color: #3b579d;
}

.btn-success {
	background-color: #31ce36;
	color: white;
}

.btn-success:hover {
	background-color: transparent;
	color: #31ce36;
	border-color: #31ce36;
}

.btn-info {
	background-color: #0ad7f7;
	color: white;
}

.btn-info:hover {
	background-color: transparent;
	color: #0ad7f7;
	border-color: #0ad7f7;
}

.btn-warning {
	background-color: #FFAD46;
	color: white;
}

.btn-warning:hover {
	background-color: transparent;
	color: #FFAD46;
	border-color: #FFAD46;
}

.btn-danger {
	background-color: #ff4747;
	color: white;
}

.btn-danger:hover {
	background-color: transparent;
	color: #ff4747;
	border-color: #ff4747;
}

.btn-muted {
	background-color: #5b646e;
	color: white;
}

.btn-muted:hover {
	background-color: transparent;
	color: #5b646e;
	border-color: #5b646e;
}

.btn-inverted {
	border-color: #232323;
	color: #232323;
}

.btn-inverted:hover {
	background-color: #232323;
	color: white;
}

.btn-inverted.btn-primary {
	background-color: transparent;
	color: #464DEE;
	border-color: #464DEE;
}

.btn-inverted.btn-primary:hover {
	background-color: #464DEE;
	color: white;
}

.btn-inverted.btn-secondary {
	background-color: transparent;
	color: #3b579d;
	border-color: #3b579d;
}

.btn-inverted.btn-secondary:hover {
	background-color: #3b579d;
	color: white;
}

.btn-inverted.btn-inverted.btn-success {
	background-color: transparent;
	color: #31ce36;
	border-color: #31ce36;
}

.btn-inverted.btn-success:hover {
	background-color: #31ce36;
	color: white;
}

.btn-inverted.btn-info {
	background-color: transparent;
	color: #0ad7f7;
	border-color: #0ad7f7;
}

.btn-inverted.btn-info:hover {
	background-color: #0ad7f7;
	color: white;
}

.btn-inverted.btn-warning {
	background-color: transparent;
	color: #FFAD46;
	border-color: #FFAD46;
}

.btn-inverted.btn-warning:hover {
	background-color: #FFAD46;
	color: white;
}

.btn-inverted.btn-danger {
	background-color: transparent;
	color: #ff4747;
	border-color: #ff4747;
}

.btn-inverted.btn-danger:hover {
	background-color: #ff4747;
	color: white;
}

.btn-inverted.btn-muted {
	background-color: transparent;
	color: #5b646e;
	border-color: #5b646e;
}

.btn-inverted.btn-muted:hover {
	background-color: #5b646e;
	color: white;
}

/* Sizes */
.btn-smallest {
	font-size: 11px;
    padding: 7px 13px;
}

.btn-small {
    font-size: 15px;
    padding: 11px 17px;
}

.btn-large {
	font-size: 22px;
    border-radius: 3px;
    padding: 20px 40px;
    font-weight: 400;
}

.btn-largest {
	font-size: 26px;
    border-radius: 3px;
    padding: 25px 38px;
    font-weight: 400;
}

/* Styles */
.btn-rounded {
	border-radius: 100px!important;
}

.btn-circle {
    border-radius: 50px;
    padding: 0;
    width: 70px;
    height: 70px;
    font-size: 35px;
}

.btn-circle.btn-smallest {
	width: 50px;
    height: 50px;
	font-size: 25px;
}

.btn-circle.btn-small {
   font-size: 30px;
   width: 60px;
   height: 60px;
}

.btn-circle.btn-large {
	font-size: 40px;
	width: 80px;
    height: 80px;
}

.btn-circle.btn-largest {
	font-size: 45px;
	width: 90px;
    height: 90px;
}